/bin/jar/
/build/
/log/
/data/
/KJ/jar/
/temp/
/tmp/
/.gradle/
/.vagrant/
/Kj/v1/tmp/*
/.idea
/.DS_Store

# RootFiles
/build.gradle.kts
/settings.gradle.kts
/gradle.properties


/gradle
/gradlew
/gradlew.bat