[submodule "style"]
	path = style
	url = https://github.com/mgroth0/style
[submodule "RootFiles"]
	path = RootFiles
	url = https://github.com/mgroth0/RootFiles
[submodule "k/stream"]
	path = k/stream
	url = https://github.com/mgroth0/stream
[submodule "k/key"]
	path = k/key
	url = https://github.com/mgroth0/key
[submodule "k/kjs"]
	path = k/kjs
	url = https://github.com/mgroth0/kjs
[submodule "k/klib"]
	path = k/klib
	url = https://github.com/mgroth0/klib
[submodule "k/auto"]
	path = k/auto
	url = https://github.com/mgroth0/auto
[submodule "k/async"]
	path = k/async
	url = https://github.com/mgroth0/async
[submodule "k/caching"]
	path = k/caching
	url = https://github.com/mgroth0/caching
[submodule "k/dataman"]
	path = k/dataman
	url = https://github.com/mgroth0/dataman
[submodule "k/exec"]
	path = k/exec
	url = https://github.com/mgroth0/exec
[submodule "k/fx"]
	path = k/fx
	url = https://github.com/mgroth0/fx
[submodule "k/fxlib"]
	path = k/fxlib
	url = https://github.com/mgroth0/fxlib
[submodule "k/hotkey"]
	path = k/hotkey
	url = https://github.com/mgroth0/hotkey
[submodule "k/hurricanefx"]
	path = k/hurricanefx
	url = https://github.com/mgroth0/hurricanefx
[submodule "k/json"]
	path = k/json
	url = https://github.com/mgroth0/json
[submodule "k/kjlib"]
	path = k/kjlib
	url = https://github.com/mgroth0/kjlib
[submodule "k/mstruct"]
	path = k/mstruct
	url = https://github.com/mgroth0/mstruct
[submodule "k/reflect"]
	path = k/reflect
	url = https://github.com/mgroth0/reflect
[submodule "k/gui"]
	path = k/gui
	url = https://github.com/mgroth0/gui
[submodule "k/file"]
	path = k/file
	url = https://github.com/mgroth0/file
[submodule "k/jdemo"]
	path = k/jdemo
	url = https://github.com/mgroth0/jdemo
