[submodule "KJ/reflect"]
	path = KJ/reflect
	url = https://github.com/mgroth0/reflect
[submodule "KJ/kjlib"]
	path = KJ/kjlib
	url = https://github.com/mgroth0/kjlib
[submodule "KJ/json"]
	path = KJ/json
	url = https://github.com/mgroth0/json
[submodule "KJ/hurricanefx"]
	path = KJ/hurricanefx
	url = https://github.com/mgroth0/hurricanefx
[submodule "KJ/auto"]
	path = KJ/auto
	url = https://github.com/mgroth0/auto
[submodule "KJ/exec"]
	path = KJ/exec
	url = https://github.com/mgroth0/exec
[submodule "KJ/gui"]
	path = KJ/gui
	url = https://github.com/mgroth0/gui
[submodule "style"]
	path = style
	url = https://github.com/mgroth0/style
[submodule "KJ/mstruct"]
	path = KJ/mstruct
	url = https://github.com/mgroth0/mstruct
[submodule "RootFiles"]
	path = RootFiles
	url = https://github.com/mgroth0/RootFiles
[submodule "kj/hotkey"]
	path = kj/hotkey
	url = https://github.com/mgroth0/hotkey
[submodule "kj/fxlib"]
	path = kj/fxlib
	url = https://github.com/mgroth0/fxlib
[submodule "kj/dataman"]
	path = kj/dataman
	url = https://github.com/mgroth0/dataman
[submodule "KJ/kbuild"]
	path = KJ/kbuild
	url = https://github.com/mgroth0/kbuild
[submodule "k/klib"]
	path = k/klib
	url = https://github.com/mgroth0/klib
[submodule "KJ/async"]
	path = KJ/async
	url = https://github.com/mgroth0/async
[submodule "KJ/caching"]
	path = KJ/caching
	url = https://github.com/mgroth0/caching
[submodule "k/stream"]
	path = k/stream
	url = https://github.com/mgroth0/stream
[submodule "kj/fx"]
	path = kj/fx
	url = https://github.com/mgroth0/fx
