
:root {
    --color-foreground: blue;
    --color-background: grey;
    font-size: 20px;
}

/*INPUT*/

input {
    -webkit-appearance: none;
    /*width: 100%;*/
    height: 25px;
    background: var(--color-background);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input:hover {
    opacity: 1;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 75px;
    background: var(--color-foreground);
    cursor: pointer;
}

input::-moz-range-thumb {
    width: 25px;
    height: 75px;
    background: var(--color-foreground);
    cursor: pointer;
}

/*BUTTON*/

button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
    background: transparent;
}

button:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

button:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width: 30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}